@model Groupement_Citoyen.Models.Utilisateur

@{
    ViewData["Title"] = "Index";
}

<partial name="/Views/Utilisateurs/MontantPortefeuille.cshtml" />

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commandes.First().DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commandes.First().Total)
            </th>
            <th>
                Nombre de produits
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commandes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAchat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailsCommandes.Count)
                </td>
                <td> 
                    <a class="btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    @if (!item.Valider && item.Total > 0)
                    {
                        <form asp-action="ValiderCommande" asp-controller="Commandes" asp-route-idUtilisateur="@this.User.Identity">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="submit" value="Valider votre commande" class="btn btn-light" />
                            </div>
                        </form>
                    }            
                </td>
            </tr>
        }
    </tbody>
</table>
